@font-face {
    font-family: "carmenvtf";
    src: url("/workshop_esad-amiens_giants/theme/fonts/ManifontGroteskBook-webfont.woff");
}

@font-face {
    font-family: "cooper";
    src: url("/workshop_esad-amiens_giants/theme/fonts/CooperHewitt-Light.woff");
}

body {
    background-color: black;
}

.published {
    color: white;
}

.published {
    text-decoration: underline;
}

a {
    border-top: 450px;
    font-family: "carmenvtf";
    color: white;
    font-size: 120px;
    cursor: cell;
    text-decoration: none;
}

ul, menu, dir {
    font-size: 60px;
}

p {
    font-family: "cooper";
    font-size: 28px;
}

img {
    margin-left: 240px;
    max-width: 60%;
    cursor: cell;
}

.zoom img:hover {
    width: 300px;
    height: 400px;
}

a.url.fn {
    font-size: 50px;
}

h1 {
    margin-top: 20px;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
}

h2 {
    color: white;
    text-align: left;
}

#post-list {
    color: white;
}

#content {
    font-family: "carmenvtf";
}

ol {
    color: white;
}

.entry-content h1 {
    display: none;
}

.entry-content {
    color: white;
}